body{
    background-color: whitesmoke;
}
html{
    min-width: 700px;
}
.main{
    border-style: solid;
    border-width: 10px;
    border-color: gray;
    padding: 0px;
    position: absolute;
}
.big{
    /* display: table; */
    /* margin-left: 400px; */
    padding-right: 20px;
}

.one-piece{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: gray;
    box-shadow: 0 0 2px black;
    background: url('images/pole.png');
}

.cube-bomb{
    background: url('images/bomb.png'); 
}

.finished{
    background: url('images/finished.png');
}

/* bombs around*/
.empty{
    background: url('images/empty.png');
}
.one-bomb-around{
    background: url('images/one-around.png');
}
.two-bomb-around{
    background: url('images/two-around.png');
}
.three-bomb-around{
    background: url('images/three-around.png');
}
.four-bomb-around{
    background: url('images/four-around.png');
}
.five-bomb-around{
    background: url('images/five-around.png');
}


/* when game is over */
.modal{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    overflow: auto;
}
.modal-display{
    display: block;
}

/* timer */
#seconds{
    color: red;
    font-size: 50px;
}
.timer{
    width: 80px;
    background-color: gray;
}

button{
    width: 120px;
    height: 30px;
    background-color: greenyellow;
    font-size: 20px;
    font-weight: bolder;
}

input{
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    width: 120px;
    border-style: solid;
}

label{
    font-weight: bolder;
    font-size: 20px;
}

#new-game{
    display: none;
}